
<h1> <%= @restaurant.name %> </h1>

<% @restaurant.reviews.each do |review| %>
  <%= review.rating %>
  <%= review.username %>
  <%= review.content %>
  <br>
<% end %>

<%= link_to "Click here to review this restaurant.", new_restaurant_review_path(@restaurant) %>
