
<h1 class="center"> Welcome to RESTaurants! </h1>
<h2 class="center"> Timeline of recent reviews<%=@user ? "for #{@user.username}" : ""%>:</h2>
<ul>

<% @reviews.each do |review| %>
  <p> <%=link_to review.user.username, user_reviews_path(review.user)%>: </p>
  <li> Restaurant: <%= link_to review.restaurant.name, restaurant_path(review.restaurant)%> </li>
  <li> Rating: <%= review.rating %> </li>
  <li> Review: <%= review.content %> </li>
  <br>
<% end %>
</ul>

<% if logged_in? %>
  <%= link_to "Have you eaten anywhere recently? Add a review!", new_review_path %>
<% else %>
  <p> Sign up or Log in to leave a review </p>
<% end %>
