
<h3 class="center"> Timeline of recent reviews<%=@user ? " for #{@user.username}" : ""%>:</h3>
<ul>

<% @reviews.each do |review| %>
  <button class="username" data-id="<%=review.user.id %>"> <%=review.user.username%>: </button>
  <div id="user<%= review.user.id%>"> </div>
  <div class="row">
    <li class="col s9 push-s1"> Restaurant: <button
      class="restaurant" data-id="<%= review.restaurant.id %>"> <%=review.restaurant.name%> </button <br>
      <div id="restaurant<%= review.restaurant.id %>"> </div> <br>
    Rating: <%= review.rating %> stars <br>
    Review: <%= review.content %> </li>
  </div>
  <br>
<% end %>
</ul>

<% if logged_in? %>
  <%= link_to "Have you eaten anywhere recently? Add a review!", new_review_path %>
<% else %>
  <p> Sign up or Log in to leave a review </p>
<% end %>
