<!DOCTYPE html>
<html>
  <head>
    <title>Project3RestaurantReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="indigo darken-4">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, class: "red-text text-lighten-4" %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Log In", login_path %>
      <%end%>
      <%= link_to "Homepage", root_path %>
      <%= flash[:message] %>
    </nav>
    <div class="container"> <%= yield %> </div>
  </body>
</html>
